.entrada {
    width: 35%;
    margin-left: 10%;
}

.meiatela {
    width: 50%;
}

.ddd {
    width: 25%;
}

.espacotop {
    margin-top: 2%;
    margin-bottom: 2%;
}

.telefone {
    width: 100%;
}

.conteinertelefone {
    width: 30%;
}

.campo {
    width: 100%;
}

.flutuante {
    float: left;
}

.flutuantemaior {
    width: 150px;
}

.caixa {
    width: 100%;
    padding-left: 100px;
    padding-top: 50px;
}

input {
    width: 40%;
}

.linha {
    width: 100%;
    height: 2px;
    border-bottom: 2px solid;
    margin: 2px;
}

table {
    width: 80%;
    margin-top: 40px;
}

table,
th,
td {
    border: 1px solid black;
    margin-left: 10%;
}

th {
    color: white;
    background-color: dodgerblue;
}

.botao {
    color: white;
    background-color: dodgerblue;
    margin-left: 10%;
}

.fundo {
    background-color: dodgerblue;
    color: white;
    font-size: 30px;
    padding-left: 20px;
}
