<div class="fundo">{{ titulo }}</div>
<div class="espacotop clearfix">
  <div class="flutuante entrada clearfix">
    <label>Nome:</label>
    <br/>
    <input type="text" class="campo" value="{{ pessoa.nome }}" #nome required>
  </div>
  <div class="flutuante entrada clearfix">
    <label>CPF:</label>
    <br/>
    <input type="text" class="campo" required value="{{ pessoa.cpf }}" placeholder="000.000.000-00" #cpf>
  </div>
  <div class="flutuante entrada clearfix">
    <label>E-mail:</label>
    <br/>
    <input type="text" class="campo" required value="{{ pessoa.email }}" #email>
  </div>
  <div class="entrada flutuante clearfix">
    <label>Data nascimento:</label>
    <br/>
    <input type="text" class="campo" required value="{{ pessoa.dataNascimento | date: 'dd/MM/y' }}" placeholder="00/00/0000"
      #data>
  </div>
</div>
<div class="meiatela entrada clearfix">
  <div class="flutuante ddd clearfix">
    <label>DDD:</label>
    <br/>
    <input class="ddd" type="text" #ddd>
  </div>
  <div class="flutuante conteinertelefone clearfix">
    <label>Telefone:</label>
    <br/>
    <input class="telefone" type="text" #numero>
  </div>
  <div class="flutuante flutuantemaior clearfix">
    <label></label>
    <br/>
    <button class="botao" on-click="adicionarTel(ddd, numero)">Adicionar</button>
  </div>
</div>
<div class="espacotop">
  <table>
    <tr>
      <th>Id</th>
      <th>DDD</th>
      <th>Telefone</th>
      <th>Ação</th>
    </tr>
    <tr *ngFor="let t of telefones">
      <td>{{ t.id }}</td>
      <td>{{ t.ddd }}</td>
      <td>{{ t.numero }}</td>
      <td>
        <button type="button" class="btn btn-link" on-click="deletar(t)">Deletar</button>
      </td>
    </tr>
  </table>
</div>
<button class="botao" (click)="adicionar(nome,cpf,data ,email); ">{{ botao }}</button>
