<div class="fundo">Listagem de Pessoas</div>
<div class="content">
  <div class="ui-g clearfix form-pesquisar">
    <div>
      <label>Nome:</label>
      <br/>
      <input pInputText type="text" #nome>
    </div>
    <div>
      <label>CPF:</label>
      <br/>
      <input pInputText type="text" #cpf>
    </div>
    <div>
      <button class="botao" (click)="pesquisar(nome.value, cpf.value)">Pesquisar</button>
    </div>
    <div>
      <button [routerLink]="['cadastrar']" class="botao">Cadastrar</button>
    </div>
  </div>

  <div class="ui-g">
    <table>
      <tr>
        <th>Id</th>
        <th>Nome</th>
        <th>E-mail</th>
        <th>CPF</th>
        <th>Idade</th>
        <th>Quantidade de telefones</th>
        <th>Ação</th>
      </tr>
      <tr *ngFor="let p of pessoas">
        <td>{{ p.id }}</td>
        <td>{{ p.nome }}</td>
        <td>{{ p.email }}</td>
        <td>{{ p.cpf }}</td>
        <td>{{ p.dataNascimento | date : 'dd/MM/y'}}</td>
        <td>{{ p.telefones.length }}</td>
        <td>
          <a [routerLink]="['/pessoas', p.id]">Editar</a>
          <label>|</label>
          <button type="button" class="btn btn-link" on-click="deletar(p.id)">Deletar</button>
        </td>
      </tr>
    </table>
  </div>
</div>
