.botao,
th {
    color: white;
    background-color: dodgerblue;
}

.fundo {
    background-color: dodgerblue;
    color: white;
    font-size: 30px;
    padding-left: 20px;
}

table {
    width: 100%;
}

table,
th,
td {
    border: 1px solid black;
    padding-left: 10px;
}

.mesma-linha {
    float: left;
}

.content {
    margin: 0 auto;
    width: 80%;
}

.ui-g {
    width: 100%;
}

.form-pesquisar {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    margin: 30px 0;
}
